[defaults]
inventory = inventory/bastion_hosts.yml
host_key_checking = False
remote_user = ec2-user
private_key_file = ../terraform/utils/bastion_key
timeout = 30
retry_files_enabled = False
gathering = smart
fact_caching = memory

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
