namespace: 
  name: ${namespace}
  labels: {}

serviceAccount:
  server:
    create: true
    name: velero-server
    annotations:
      eks.amazonaws.com/sts-regional-endpoints: "true"
      eks.amazonaws.com/role-arn: ${velero_role_arn}

image: 
  repository: velero/velero
  tag: "${velero_image_version}"

configuration:
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: ${bucket_name}
      default: true
      config:
        region: ${region}
    
  volumeSnapshotLocation:
    - name: default
      provider: aws
      config:
        region: ${region}

credentials:
  useSecret: false

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:${velero_plugin_version}
    volumeMounts:
      - mountPath: /target
        name: plugins


plugins:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:${velero_plugin_version}